# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac system files
.AppleDouble
.LSOverride

# Optional npm cache
.npm

# Optional eslint cache
.eslintcache

# Optional parcel cache
.cache/

# Optional vite cache
.vite/

# Optional storybook files
.out/
.storybook-out/
